PORT=8000
SESSION_MAX_AGE_DAYS=7
MAX_JSON_BODY_BYTES=1048576
LOGIN_RATE_LIMIT=5
LOGIN_RATE_WINDOW_SECONDS=900
BACKUP_ENABLED=1
BACKUP_INTERVAL_HOURS=24
BACKUP_RETENTION=14
LLM_ENABLED=
LLM_API_BASE=
LLM_API_KEY=
LLM_MODEL=
